body {
    margin: 0px;
    padding: 0px;

    background-color: #02031A !important;
    position: relative;
    z-index: -1;
    overflow-x: hidden;
    max-width: 100vw;
    font-family: "Raleway", sans-serif;

}
*, *::before, *::after {
    box-sizing: border-box;
}
/*Precarga*/
/* Estilo general del preloader */
.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #181c27; /* Fondo negro para el preloader */
    z-index: 9999; /* Asegura que el preloader esté sobre el contenido principal */
    transition: opacity 1s ease-out; /* Transición de opacidad del preloader */
}

/* Estilo de los elementos de entrada (nombres) */
.entrada {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.name {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 1s forwards, slideOut 1s forwards;
    margin: 0 10px;
    color: aliceblue;
}

.name:nth-child(1) {
    animation-delay: 0.5s, 2.5s; 
}

.name:nth-child(2) {
    animation-delay: 1s, 2.5s; 
}

.name:nth-child(3) {
    animation-delay: 1.5s, 2.5s; 
}
/**/
/* Estilo de la entrada del nombre */
.entradanombre {
    opacity: 0;
    animation: fadeIn 3s forwards, growAndShrink 2s forwards;
    animation-delay: 3s;
    position: absolute;
    color: #181c27;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    text-align: center; 
    height: 50px;
    width: 0; 
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    text-align: center;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Animación para el crecimiento y reducción del ancho */
@keyframes growAndShrink {
    0% {
        width: 0;
    }
    50% {
        width: 200px; 
    }
    100% {
        background-color: #181c27;
        color: #ffffff;
        width: 200px;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.content {
 opacity: 0; 
    transition: opacity 1s ease-in, background-color 1s ease-in; /* Transición de opacidad y color */
}

/* Animación para el deslizamiento hacia arriba */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación para el deslizamiento hacia afuera */
@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Animación para hacer el desvanecimiento (entrada) */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animación para hacer el desvanecimiento (salida) */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Estilo para mostrar el contenido principal después del preloader */
.preloader.hide {
    opacity: 0;
    visibility: hidden;
}

.content.show {
    opacity: 1; /* Mostrar el contenido */
}


/*Fin preloader*/




.portada {
    height: 100vh;
    width: 100vw;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.portada_content {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('./Imagenes/nino.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada_content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Ajusta el valor según la altura del degradado que desees */
    background: linear-gradient(to bottom, transparent, #181c27);
    pointer-events: none; /* Permite que los eventos del ratón pasen a través del degradado */
}




.portada_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.label1 {
    font-family: "Raleway", sans-serif;
    font-size: 16px !important;
    letter-spacing: 8px;
    margin-bottom: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    text-align: center;
    color: #ffffff;
    animation-delay: 5.5s;
    font-weight: bold;
    line-height: 0.5;
}

.label2 {
    font-family: "Raleway", sans-serif;

    font-size: 99px !important;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    text-align: center;
    color: #ffffff;
    animation-delay: 5.5s;

}

.portada_info button {
    font-size: 1vw;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    position: relative;
    z-index: 999;
    animation-delay: 5.5s;
    font-family: "Raleway", sans-serif;
    border: 2px solid #44afb9;
    background-color: #00000000;
    border-radius: 10px;

}

.portada_info button:hover {
    background-color: #44afb9;
}


.aboutme {
    height: auto;
    width: 100vw;
    padding: 0px 0px 50px 0px;
    color: white;
    position: relative;
    padding-top: 50px;
    background-color: #181c27;
}

.abutmetitulo {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 50px;
    width: 100%;
}

.aboutmecontent {
    margin-top: 50px !important;
    width: 40vw;
    text-align: center;
    margin: 0px 30vw;
    font-size: 20px;
    font-family: "Raleway", sans-serif;

}
.abutmetitulo, .aboutmecontent {
    opacity: 0;
    transform: translateY(20px); /* Añade un desplazamiento inicial si lo deseas */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.abutmetitulo.show, .aboutmecontent.show {
    opacity: 1;
    transform: translateY(0);
}

.imagenesaboutme {
    width: 100vw;
    height: 700px;
}

.aboutmetop {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    background-color: #181c27;
}

.aboutmebottom {
    width: 100%;
    height: 60%;
    background-color: #ffffff;

}

.imagen {
    height: 500px;
    width: 350px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    position: relative;
    filter: brightness();
}
.imagen {
    opacity: 0;
    transform: translateX(60px); /* Añade un desplazamiento inicial si lo deseas */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.imagen.show {
    opacity: 1;
    transform: translateY(0);
}

.imagen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#181c27bb;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.imagen:hover::before {
    opacity: 1;
}

.imagen h3 {
    position: relative;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    color: white;
    opacity: 0;
    transition: transform 0.3s ease-in-out;
}

.imagen:hover h3 {
    transform: scale(1.1);
    opacity: 1;
    color: white;
    z-index: 5;
}


.aboutmeuno {
    background-image: url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.aboutmedos {
    margin-top: 100px !important;
    background-image: url('https://www.pixartprinting.it/blog/wp-content/uploads/2022/11/IMMAGINE-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.aboutmetres {
    background-image: url('https://images.unsplash.com/photo-1501504905252-473c47e087f8?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.frontendskills {
    width: 86vw;
    height: auto;
    padding: 100px;
    display: flex;
    margin: 0px 7vw;
    background-color: #181c27;
}

.frontendskillsleft h3 {
    font-family: "Raleway", sans-serif;
    font-size: 22px !important;
    width: 80%;
    font-weight: 200;

}

.frontendskillsleft {
    margin-right: 20px;
    width: 50%;
    padding-top: 9px;
    padding-left: 35px;
    color: white;

}

.frontendskillsleft h2 {
    font-family: "Raleway", sans-serif;
    font-size: 50px !important;
    padding-top: 20px;
}

.frontendskillsrightbox {
    opacity: 0;
    transform: translateY(20px); /* Añade un desplazamiento inicial si lo deseas */
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.frontendskillsrightbox.show {
    opacity: 1;
    transform: translateY(0);
}

.frontendskillsright {
    width: 50%;
    height: 400px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.frontendskillsleft {
    opacity: 0;
    transform: translateX(-100px); /* Desplazamiento inicial */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.frontendskillsleft.animate {
    opacity: 1;
    transform: translateX(0);
}
.backendskillsleft {
    opacity: 0;
    transform: translateX(100px); /* Desplazamiento inicial */
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.frontendskillsleft.dos {
    opacity: 0;
    transform: translateX(100px); /* Desplazamiento inicial */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.frontendskillsleft.dos.animate {
    opacity: 1;
    transform: translateY(0);
}

.backendskillsleft.animate {
    opacity: 1;
    transform: translateY(0);
}

.frontendskillsrightbox {
    width: 45%;
    height: 45%;
    background-image: linear-gradient(to right top, #343030, #2c2929, #242121, #1c1a1a, #141313);
    display: flex;
    flex-direction: row;
    margin: 5px;
    border-radius: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: white;
    border: 1px solid #4d4c4c;

}

.frontendskillsrightbox h4 {
    color: #57cad1;
    font-family: "Raleway", sans-serif;

}

.frontendskillsrightbox p {
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.frontendskillsrightbox:hover {
    background-image: linear-gradient(to right top, #000000,#000000);
    border: 2px solid #57cad1;
}




.redes_sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 30px;
    left: 30px;
}


.redes_sociales img {
    height: 25px;
    width: 25px;
    margin: 5px;
    filter: contrast(50px);
}

.redes_sociales img:hover {
    transform: scale(1.3);
}

.skills {
    background-color: #181c27;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.skills h1 {
    font-size: 4vw;
    color: #00FFFF;
    text-shadow: 0px 1px 5px rgb(0, 255, 255);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    padding-right: 200px;
    padding-bottom: 50px;
}

.slider {
    width: 100vw;
    height: auto;
    overflow: hidden;
    background-color: #0f3f53;

}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;

    width: calc(200px * 16);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slide {
    width: 200px;
    margin: 40px;
}

.slider .slide img {
    width: 100%;
    display: flex;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 8));
        transform: translateX(calc(-200px * 8));
    }
}

.skills-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: auto;
    padding: 60px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 0px;
    color: rgba(0, 255, 255, 1);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 4vw;
    flex-direction: column;

}



.center h1 {
    color: #00FFFF;
    text-shadow: 0px 1px 5px rgb(0, 255, 255);
    font-family: "Raleway", sans-serif;
    font-size: 4vw;

    font-weight: bold;
    text-align: center;

    margin-bottom: 50px;
}

.center img {
    height: 50px;
    width: auto;
    margin-top: 25px;
    filter: drop-shadow(0px 5px 10px rgb(0, 255, 255));

}



.card-content {
    color: white;
}


.projects {
    background-color: white;
    width: 100vw;
    height: auto;
    padding: 50px 0px;
}

.projectscontainers {
    width: 84vw;
    margin: 50px 8vw;
    height: auto;
    background-color: #bbbbbb4b;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.projectscontainerstop {
    width: 100%;
    height: 30%;
    background-color: #0f3f53;
    padding: 25px 40px;
    font-family: "Raleway", sans-serif;

}



hr.solid {
    border-top: 2px solid #bbb;
}

.projectscontainerstop h2 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
}

.projectscontainerstop p {
    color: white;
    width: 70%;
}

.projectscontainersbottom {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #192c3b;
}

.projectscontainersbottombox {
    height: 335px;
    width: 335px;
    background-color: #ffffff;
    margin: 50px 0px;
    display: flex;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    overflow: hidden;
    box-shadow: 11px 10px 12px 8px rgba(0,0,0,0.1);}

.projectscontainersbottomboxinside {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 100%;
    bottom: -270px;
    border-radius: 5px 5px 0px 0px;
    transition: all 0.5s;
    color: white;
    padding: 15px;
    font-family: "Raleway", sans-serif;

}

.projectscontainersbottomboxinside p {
    opacity: 0;
    font-family: "Raleway", sans-serif;

}

.seewebsite {
    width: 80%;
    height: 40px;
    background-color: #57cad1;
    margin: 0px 10%;
    border: none;
    color: #000000;
}


.positionbottom {
    bottom: -220px;
}

.positionbottomdos {
    bottom: -270px;
}

.positionbottom:hover p {
    bottom: 0;
    opacity: 1;
}

.positionbottomdos:hover p {
    bottom: 0px;
    opacity: 1;
}

.positionbottom:hover {
    bottom: 0px;
    opacity: 1;
}

.positionbottomdos:hover {
    bottom: 0;
    opacity: 1;
}

.positionbottomdos:hover {
    background-color: #02031abe !important;
}

.positionbottom:hover {
    background-color: #02031a9c !important;
}



.imagenunoproject {
    background-image: url('./Imagenes/ofertas.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.imagendosproject {
    background-image: url('./Imagenes/vsc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imagentresproject {
    background-image: url('./Imagenes/diseño.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imagencuatroproject {
    background-image: url('./Imagenes/paleta.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.toolsused {
    width: 100vw;
    height: auto;
    padding: 100px 0px 200px 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Raleway", sans-serif;

}

.toolsused h3 {
    font-size: 76px;
    font-weight: bold;

    font-family: "Raleway", sans-serif;
}

.toolsused p {
    width: 25%;
    text-align: center;
}

.toolsudesbox {
    width: 100vw;
    height: 600px;

    background-color: #1a212c;
    position: relative;
}

.toolsudesboxcontainer {
    position: absolute;
    width: 80vw;
    height: 550px;
    background-color: #ffffff;
    margin: 0px 10vw;
    top: -100px;
    border-radius: 15px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.toolsudesboxcontainerfill {
    height: 85%;
    width: 20%;
    display: flex;
    position: relative;
    flex-direction: column;
    font-family: "Raleway", sans-serif;

}

.toolsudesboxcontainerfillimagen {
    width: 100%;
    height: 20%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolsudesboxcontainerfillimagen img {
    height: 100%;
    width: auto;
}

.toolsudesboxcontainerfilltitle {
    margin-top: 20px;
    text-align: center;
}

.toolsudesboxcontainerfilltitle h3 {
    font-family: "Raleway", sans-serif;
}

.toolsudesboxcontainerfill p {
    text-align: center;
    width: 80%;
    margin: 15px 10%;
}


.cardbox {
    width: 200px;
    height: 250px;
    margin: 20px;
    perspective: 1000px;
    background-color: rgba(170, 157, 157, 0);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.cartas {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s;
    border-radius: 10px;
}

.cartas:hover {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(to right, #464545, #ebebeb56);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    flex-direction: row;
}

.card-back {
    background: linear-gradient(to top, #e5e5e5a9, #00ffff7c);
    transform: rotateY(180deg);
    color: rgba(255, 255, 255, 0.404);
}

.card-text {
    text-align: center;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 15px;

}

.card-text img {
    width: auto;
    height: 50px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;

}

.project1,
.project2,
.project3,
.project4 {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
    margin: 100px 0px;
}

.projects_left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;

}

.projects_left img {
    max-height: 40vh;
    max-width: 40vw;
    transition: transform 0.3s ease;

}



.imagen_position {
    display: inline-block;
    position: relative;
    overflow: hidden;
    max-width: 50vw;
    max-height: 50vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen_position img {
    display: block;
    width: auto;
    height: 300px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.imagen_position:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


.imagen_position:hover .tecnologias {
    opacity: 1;
}


.tecnologias {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 903;
    overflow: hidden;
    opacity: 0;
    flex-wrap: wrap;
}


.tec_used {
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: transparent;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    height: 30px;
    backdrop-filter: blur(5px);
    margin: 10px;
    padding: 0px 20px;
    border-radius: 20px;
    border: 2px solid #FF4858;
    transition: background-color 2s ease;
    overflow: hidden;
}

.tec_used::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: #FF4858;
    transition: right 0.3s ease;
    z-index: -1;
}

.tec_used:hover::before {
    right: 0;
}

.projects_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: -1;
    /* Cambiado a un valor negativo */
}



.projects_right_title {
    font-size: 2.5vw;
    color: #00FFFF;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin-left: 100px;
    line-height: 1;
}

.projects_right_text {
    margin-top: 20px;
    margin-left: 100px;
    font-size: 1.2vw;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

}

.vermas {
    width: 200px;
    height: 50px;
    background-color: #FF4858;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 50px;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: black;
    position: relative;
    z-index: -1;
}

.vermas p {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 0px;
}

.flecha {
    height: 40px;
    width: 40px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;

}

.flecha img {
    height: 65%;
    width: 65%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
}



.tools_container {
    background-color: #ffffff25;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    backdrop-filter: blur(4px);
    margin-bottom: 200px;
    margin-top: 200px;
}

.container_tools {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
    margin: 20px 40px;
}

.project_tool {
    flex: 1 0 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;

}

.project_tool h4 {
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    margin: 20px;
    color: white;
}

.project_tool p {
    width: 70%;
    text-align: center;
    margin: 0px;
    color: white;
    font-family: "Raleway", sans-serif;

}

.icon {
    align-items: center;
    background-color: #ffb703;
    border-radius: 15px;
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: center;
    position: relative;
}

.icon img {
    height: 100px;
    width: 100px;
}

.fondo {
    width: 100%;
    background: rgb(6, 6, 8);
    background: -moz-linear-gradient(180deg, rgba(6, 6, 8, 1) 12%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 57%, rgba(6, 6, 8, 1) 76%);
    background: -webkit-linear-gradient(180deg, rgba(6, 6, 8, 1) 12%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 57%, rgba(6, 6, 8, 1) 76%);
    background: linear-gradient(180deg, rgba(6, 6, 8, 1) 12%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 57%, rgba(6, 6, 8, 1) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#060608", endColorstr="#060608", GradientType=1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fondo::before {
    content: "";
    position: absolute;
    top: -10;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to bottom, #1F313B, #1f313b00);
    z-index: 200;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.contact_info h1 {
    color: #00FFFF;
    text-shadow: 0px 1px 5px rgb(0, 255, 255);
    font-family: "Raleway", sans-serif;
    font-size: 4vw;

    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 904;
    margin-bottom: 50px;
}

.contact_container {
    padding-top: 100px;
    position: absolute;
    z-index: 905;
}

.contact_container h1 {
    margin-top: 200px;
}

.fondo {
    width: 100vw;
    height: 40vh;
}

.division {
    height: 100px;
    width: 100%;
    background-color: transparent;
    position: relative;
    top: 100%;
    z-index: 906;
    box-shadow: 0px 0px 50px 50px #1f313b, inset 0 0 100px #1f313bb0;
    /* Aquí se aplican ambas sombras */
}

.contacth2 {
    padding-top: 150px;
    background-color: white;
    width: 100vw;
    text-align: center;
    margin: 0px;
    font-size: 80px;
    font-family: "Raleway", sans-serif;

}


.contact_info {
    width: 100vw;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px 250px 0px;

}



form {
    height: auto;
    background-image: linear-gradient(to right top, #051937, #07152f, #081028, #060a21, #02031a);
    border-radius: 5px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 907;
    backdrop-filter: blur(2px);
    align-items: center;
    height: 480px;
    width: 318px;
    box-shadow: 7px 23px 90px -55px #02031A, 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    height: 480px;
    width: 318px;
}

.cardphoto {
    height: 480px;
    width: 318px;
    background-image: linear-gradient(to right bottom, #1f5b73, #236a81, #29798f, #2f899c, #3799a9, #3793a4, #388ea0, #38889b, #336c81, #2e5165, #263848, #1a212c);
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 7px 23px 90px -55px #02031A, 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.foto {
    height: 180px;
    width: 180px;
    background-color: #0a1f1f;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    border: 5px solid #0a1f1f;
}

.foto img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: auto;
    width: 100%;
}

.cardphoto h2 {
    text-align: center;
    color: #02031A;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 40px;

}

.cardphoto h3 {
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.cardphoto h2,
.cardphoto h3 {
    line-height: 1.1;
}



.sdsd {
    display: flex;
    flex-direction: column;
}









.sendbtn {
    background-color: #00ffff;
    color: #000000;
    font-family: "Raleway", sans-serif;
    height: 40px;
    width: auto;
    margin: 10px;
    padding: 0px 60px;
    border-radius: 20px;
    border: 5px solid transparent;
    position: relative;
    overflow: hidden;
    transition: all 0.3s !important;
    /* Agregado 'transform' a la transición */
    font-size: 15px;
}

.sendbtn:hover {
    transform: scale(1.2);
    /* Corregido 'scale' a 'transform' */
}




textarea {
    width: 100%;
    height: 50px;
    resize: vertical;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 10px;
    box-sizing: border-box;
    max-height: 110px;
    font-family: "Raleway", sans-serif;

}

textarea:focus {
    transition: height 0.3s;
}




.footer {
    width: 100%;
    height: 20vh;
    background-color: #1a212c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.footer_img {


    color: white;
}

.footer_img img {
    height: 40px;
    width: 40px;
    margin: 10px 5px;
}

.footer_img img:hover {
    transform: scale(1.2);
}

.name_footer {
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.671);
}

.field {
    margin: 10px 0px;
    position: relative;
    z-index: 908;
    font-family: "Raleway", sans-serif;

}

.field label {
    display: block;
    font-size: 12px;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 5px;
    font-family: "Raleway", sans-serif;
}

.field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 17px;
    background-color: #00ffff15;
    border: 1px solid #00ffff2a;
    height: 25px;
    color: white;
    margin: 0px;
    font-family: "Raleway", sans-serif;
    height: 30px;
    width: 90%;
}

.field textarea {
    display: block;
    min-width: 258px;
    line-height: 1.5;
    font-size: 14px;
    background-color: #00ffff15;
    border: 2px solid #00ffff2a;
    color: white;
    padding: 0px;

}


input[type="submit"] {
    background-color: #57cad1;
    color: #000000;
    font-family: "Raleway", sans-serif;
    height: 40px;
    width: auto;
    margin: 10px;
    padding: 0px 60px;
    border-radius: 20px;
    border: 5px solid transparent;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
    border-radius: 0px !important;
}

.field input[type="text"]:focus,
.field input[type="email"]:focus,
.field textarea:focus {
    border-color: #00ffffd8;
    box-shadow: 0px 0px 10px 1px #00ffff5d;
    outline: none;
    background-color: #00ffff38;

}


/*ANIMACIONES*/
.vermas:hover .flecha {
    transform: rotate(-90deg);
}

/* Animaciones generales */
.animate__bounceInUp,
.animate__bounceInLeft,
.animate__fadeInUp,
.animate__fadeInLeft,
.animate__fadeInRight {
    animation-iteration-count: 1;
    --animate-duration: 2s;
}

.animate__fadeIn {
    animation-iteration-count: 1;
    --animate-duration: 7s;
}

.cardbox.animate__fadeInLeft.uno {
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 0s;
}

.cardbox.animate__fadeInLeft.dos {
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 0.25s;
}

.cardbox.animate__fadeInLeft.tres {
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.cardbox.animate__fadeInLeft.cuatro {
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 0.75s;
}

.cardbox.animate__fadeInLeft.cinco {
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 1s;
}

.cardbox.animate__fadeInLeft.seis {
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 1.25s;
}

.cardbox.animate__fadeInLeft.siete {
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 1.5s;
}

.cardbox.animate__fadeInLeft.ocho {
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 1.75s;
}






.focus-in-contract {
    -webkit-animation: focus-in-contract 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}




@media (max-width: 1024px) {
    .frontendskills {
        padding: 100px 2px;
        width: 99vw;
        margin: 0px 2.5vw;
        font-size: 12px;
        padding: 10px 0px;

    }

    .frontendskillsright {
        width: 65%;
    }

    .frontendskills p {
        width: 100%;
    }

    .frontendskillsleft {
        width: 30%;
    }

    .projectscontainers {
        width: 95vw;
        margin: 0px 2.5vw;
    }

    .toolsudesboxcontainer {
        width: 95vw;
        margin: 0px 2.5vw;
    }

    .toolsudesboxcontainerfillimagen {
        margin-top: 0px;
    }

    .frontendskillsleft h3 {
        width: 100%;
    }

    .toolsudesboxcontainerfill p {
        margin: 15px 1%;
        width: 99%;
        max-width: 100vw; 
        overflow-x: hidden;
    }
}

@media (max-width: 768px) {
    html,body{
        width: 100vw;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .entrada{
        flex-direction: column;
        text-align: center;
    }
    .name{
        display: flex;
        margin: 0px !important;
        padding: 0px;
        text-align: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .label1 {
        font-size: 14px;
        line-height: 1.5;
    }
    .label2{
        text-align: center;
        width: 95vw;
        margin: 0px 2.5vw;
    }
    .portada_content{
        width: 100vw;
        margin: 0px;
    }
    .projectscontainersbottombox {
        width: 80%;
    }
    .contact-btn {
        width: 200px;
        height: auto;
        font-size: 18px !important;
        background-color: #57cad1;
    }

    .label2 {
        font-size: 50px !important;
    }

    .aboutmecontent {
        width: 90vw;
        margin: 0px 5vw;
    }

    .abutmetitulo {
        width: 100% !important;
        text-align: center !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aboutmetop {
        flex-direction: column;
        align-items: center;
    }

    .imagenesaboutme {
        height: auto;
    }

    .imagen {
        margin-top: 5px;
    }

    .aboutmeuno,
    .aboutmedos,
    .aboutmetres {
        margin-top: 5px !important;
    }

    .frontendskills {
        flex-direction: column;
        width: 100vw;
    }

    .skills {
        padding: 0px 0px 20px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .frontendskillsleft {
        width: 95% !important;
        text-align: center;
        margin: 0px 2.5%;
        padding: 0px;
    }

    .frontendskillsright {
        flex-direction: column;
        width: 100%;
        height: 800px;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .frontendskillsrightbox {
        width: 90%;
        height: auto;
    }

    .frontendskills {
        height: auto;
    }

    .frontendskills {
        height: auto;
    }

    .projectscontainerstop p {
        width: 100%;
        margin: 15px 0px;
        padding: 0px;

    }

    .projectscontainerstop {
        padding: 5px 10px 3px 15px;
    }

    .solid {
        margin: 2px 0px;
    }

    .projectscontainers {
        height: auto;
    }
    .projectscontainersbottom{
        flex-direction: column;
    }
    .toolsused{
        padding-bottom: 100px;
    }
    .toolsused h3{
        text-align: center;
        font-size: 50px;
    }
    .toolsused p{
        width: 75%;
    }
    .toolsudesbox{
        height: 1050px;
        padding: 20px 0px;
    }
    .toolsudesboxcontainerfill{
        width: 90%;
    }
    .toolsudesboxcontainer{
        height: auto;
        flex-direction: column;
    }
    .toolsudesboxcontainerfillimagen img{
        width: 100px;
        height: auto;
    }
    .contacth2{
        padding: 20px 0px;
    }
    .contact{
        padding-top: 0px;
    }
    .contact_info{
        flex-direction: column;
        height: auto;
        padding: 15px 0px;
    }
    .cardphoto{
        margin-bottom: 25px;
    }
    .button-container{
        margin-left: 0px;
    }
    .datascience{
        flex-direction: column;
    }
    .dscontent {
        width: auto !important;
    }
}

.navbar {
    color: white;
    position: absolute;
    z-index: 999;
    background-color: #02031a00;

}

.navbar-brand {
    padding: 0px;
    margin: 0px 0px 0px 10vw;
    position: relative;
    z-index: 999;
}

.navbar-nav {
    margin-right: 100px;
    position: relative;
    z-index: 999;
}

.navbar-nav a {
    margin: 0px 20px;
    position: relative;
    z-index: 999;
}

.nav-item {
    color: white !important;
    font-family: "Raleway", sans-serif;
    position: relative;
    z-index: 999;
}

.navbar-nav .nav-link.active {
    color: #57cad1 !important;
    position: relative;
    z-index: 999;
}

.datasciencecontainer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    background-color: #1a212c;


}
.datasciencecontainer h3{
    color: white;
    color: white;
    font-size: 50px;
    text-align: center;
}
.datascience{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dscontent{
    width: 500px;
    height: 550px;
    background-color: #ffffff;
    margin: 20px;
    display: flex;
    justify-content: center;
    padding: 25px;
    border-radius: 5px;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Raleway", sans-serif;

}
.dscontent img{
    width: 100%;
    height: auto;
}
.dscontent p{
    margin: 30px 0px;
}
.seewebsite:hover{
    transform: scale(1.1);
}


.projectscontainersbottombox {
    opacity: 0;
    transform: translateY(20px); /* Desplazamiento inicial */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.projectscontainersbottombox.animate1 {
    opacity: 1;
    transform: translateY(0);
}

.projectscontainersbottombox.animate2 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s; /* Retraso de animación para el segundo elemento */
}

.projectscontainersbottombox.animate3 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s; /* Retraso de animación para el tercer elemento */
}

.projectscontainersbottombox.animate4 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s; /* Retraso de animación para el cuarto elemento */
}


.projectscontainerstop {
    opacity: 0;
    transform: translateY(20px); /* Desplazamiento inicial */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.projectscontainerstop.animate {
    opacity: 1;
    transform: translateY(0);
}



.toolsused h3,
.toolsused p {
    opacity: 0;
    transform: translateY(20px); /* Desplazamiento inicial */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.toolsused.animate h3,
.toolsused.animate p {
    opacity: 1;
    transform: translateY(0);
}
.dscontent {
    opacity: 0;
    transform: translateY(20px); /* Desplazamiento inicial */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dscontent.animate {
    opacity: 1;
    transform: translateY(0);
}



.cardphoto, .button-container {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.cardphoto {
    transform: translateX(-100%); /* Desplazamiento inicial hacia la izquierda */
}

.button-container {
    transform: translateX(100%); /* Desplazamiento inicial hacia la derecha */
}

.cardphoto.animate {
    opacity: 1;
    transform: translateX(0); /* Animación hacia el centro desde la izquierda */
}

.button-container.animate {
    opacity: 1;
    transform: translateX(0); /* Animación hacia el centro desde la derecha */
}
